*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.top{
    background-color: antiquewhite;
}

.section-one{
    display: flex;
    position: relative;
    height: 600px;
}

.position-div{
    width: 1000px;
    height: 400px;
    background-color: brown;
    background-image: url("./image\ 1\ \(3\).png");height: 360px;
    position: absolute;
    top: 400px;
    left: 250px;
    padding: 70px;
    text-align: center;
}

.bottom{
    height: 500px;
    background-color: rgb(212, 148, 65);
}

input{
    padding: 10px;
    border-radius: 25px;
    background-color: none;
}



ul{
    display: flex;
    gap: 130px;
    list-style: none;
    justify-content: space-between;
}

li{
    padding-top: 50px;
    font-size:x-large;
}

.imgM{
    padding: 12px;
}

.h1M{
    color: white;
}

p{
    color: white;
}

.footer1{
    background-color: whitesmoke;
    padding: 40px;
    padding: 70px;
    height: 200px;
}

